<!DOCTYPE html>
<html lang="en">
<head>
    @*   *@
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153195535-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-153195535-1');
    </script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Durbanville Weather - for the @ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]"/>
    <meta name="title" content="Durbanville Weather - @ViewData["Title"]"/>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/assets/bootstrap.min.css">
        <link rel="stylesheet" href="~/lib/assets/jquery.timepicker.min.css">
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WUCharts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto justify-content-center">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Hour">Hourly</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Day">Daily</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Week">Weekly</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Month">Monthly</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Date">Historical</a>
            </li>
            @* <li class="nav-item"> *@
            @*     <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Rain">Rain</a> *@
            @* </li> *@
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
            </li>
        </ul>

    </div>
</nav>
@* <partial name="_CookieConsentPartial"/> *@


<environment include="Development">
    <script src="~/lib/assets/core.js"></script>
    <script src="~/lib/assets/charts.js"></script>
    <script src="~/lib/assets/dark.js"></script>
    <script src="~/lib/assets/jquery-3.5.1.js"></script>
    <script src="~/lib/assets/jquery-ui.js"></script>
    <script src="~/lib/assets/jquery.timepicker.min.js"></script>
    <script src="~/lib/assets/popper.min.js"></script>
    <script src="~/lib/assets/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
<div class="container-fluid body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p style="text-align: center">@DateTime.Now.Year - WUCharts</p>
    </footer>
</div>

@RenderSection("Scripts", required: false)
</body>
</html>