@model List<WURequest.Models.Observations>

@{
    var latest = Model.Last();
}

<div class="card col-lg-4 col-sm-4 topbar">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="text-align: center">
            <strong>Solar</strong>
        </li>
        <li class="list-group-item">Solar Radiation<span style="float:right;">@latest.SolarRad W/m²</span></li>
        <li class="list-group-item">UV index<span style="float:right;">@latest.UV</span></li>
    </ul>
</div>
<div class="card col-lg-4 col-sm-4 topbar">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="text-align: center">
            <strong>Indoor</strong>
        </li>
        <li class="list-group-item">Temp / Humidity<span style="float:right;">@latest.TempInCur&#176C / @latest.HumInCur%</span></li>
        <li class="list-group-item">Pressure<span style="float:right;">@latest.PressCur hPa</span></li>
    </ul>
</div>
<div class="card col-lg-4 col-sm-4 topbar">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="text-align: center">
            <strong>Rain</strong>
        </li>
        <li class="list-group-item">Day / Yesterday<span style="float:right;">@latest.RainDay / @latest.RainYest mm</span></li>
        <li class="list-group-item">Month / Year<span style="float:right;">@latest.RainMonth / @latest.RainYear mm</span></li>
    </ul>
</div>