@using Newtonsoft.Json
@model List<WURequest.Models.Observations>
@{
    // another hack, when there is no data for our date, when use the url to set the datepicker value, to continue
    string url = Context.Request.Path;
    var cnt = Model.Select(x => true).Count();
    var latest = Model.LastOrDefault();
    // Sets nth record to use for plotting
    int nStep = 17;
    var graph = Model.Where((x, i) => i % nStep == 0);
    var graph2 = graph
        .Select(c =>
        {
            c.WindSpeedCur *= 3.6;
            c.WindGust10 *= 3.6;
            return c;
        });

    int nStepRain = 100;
    var graphrain = Model.Where((x, i) => i % nStepRain == 0);
}
@if (latest != null)
{
    <div class="containerx col-lg-12 col-md-12 col-sm-12 ">
        <div class="row">
            <div class="offset-lg-9 col-lg-3">
                Date: <input class="datepicker" data-date-format="yyyy-mm-dd" value="@latest.ObsTime.ToLocalTime().ToString("yyyy-MM-dd")">
            </div>
            <div class="col-12" style="text-align: center">
                <h2>@latest.ObsTime.ToLocalTime().ToString("ddd  dd MMM yyyy") Stats</h2>
            </div>
        </div>


        <div class="row">
            @Html.Partial("_Stats", Model)
            @if (cnt > 0)
            {
                <div class="col-lg" id="graph">
                    <div class="row">
                        <div class="col-lg-6" id="chartemp" style="height:300px;"></div>
                        <div class="col-lg-6" id="chartminmax" style="height:300px;"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6" id="charthum" style="height:300px;"></div>
                        <div class="col-lg-6" id="chartpressure" style="height:300px;"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6" id="chartwind" style="height:300px;"></div>
                        <div class="col-lg-6" id="chartrain" style="height:300px;"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6" id="chartsolar" style="height:300px;"></div>
                        <div class="col-lg-6" id="chartuv" style="height:300px;"></div>
                    </div>
                    <div class="col-lg" id="chartwd" style="height:300px;"></div>
                </div>
            }
           @Html.Partial("_DateSummary", Model)
        </div>
        <span>
            @cnt total records
        </span>
    </div>
}
else
{
    <div class="row">
        <div class="offset-lg-9 col-lg-3">
            Date: <input class="datepicker" data-date-format="yyyy-mm-dd" value="@url.Substring(url.Length - 10)">
        </div>
    </div>
    <h3>Unfortunately my time machine doesn't have these files on record</h3>
}


<script src="//www.amcharts.com/lib/4/core.js"></script>
<script src="//www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script type="text/javascript">
    var hrs = 1;
    var modeldata = @Html.Raw(JsonConvert.SerializeObject(graph2));
</script>
<script type="text/javascript">
$(function(){
        var stDate = new Date(2019, 6, 20);
        $('.datepicker')
            .datepicker({
                dateFormat: 'yy-mm-dd',
                minDate: stDate,
                maxDate: new Date(),
                onSelect: function (date) {
                  window.location = '/home/date/' + date;
                  }
            });        
        });

</script>
<script type="text/javascript" src="~/js/amcharts.js"></script>