@using Newtonsoft.Json
@model List<WURequest.Models.Observations>
@{
    var cnt = Model.Select(x => true).Count();
    var latest = Model.Last();
    // Sets nth record to use for plotting
    int nStep = 527;
    var graph = Model.Where((x, i) => i % nStep == 0);
    var graph2 = graph
        .Select(c =>
        {
            c.WindSpeedCur *= 3.6;
            c.WindGust10 *= 3.6;
            return c;
        });

    int nStepRain = 100;
    var graphrain = Model.Where((x, i) => i % nStepRain == 0);


    //ViewData["Title"] = "Temp Past Hour : " + DateTime.Now.ToString("f");
}


<div class="containerx col-lg-12 col-md-12 col-sm-12 ">
    <div class="row">
        <div class="col-12" style="text-align: center">
            <h2>Monthly Stats</h2>
            <strong>Date Time :</strong> @latest.ObsTime.ToLocalTime().ToString("ddd  dd MMM yyyy - HH:mm:ss zzz")
        </div>
    </div>

    <div class="row">
        @Html.Partial("_CurrentConditions", Model)
        @if (cnt > 0)
        {
            <div class="row col-lg" id="middle">
                @Html.Partial("_TopBar", Model)
                <div class="col-lg-12" id="graph">
                    <div class="col-lg" id="chartemp" style="height:300px;"></div>
                    <div class="col-lg" id="chartminmax" style="height:300px;"></div>
                    <div class="col-lg" id="charthum" style="height:300px;"></div>
                    <div class="col-lg" id="chartpressure" style="height:300px;"></div>
                    <div class="col-lg" id="chartwind" style="height:300px;"></div>
                    <div class="col-lg" id="chartrain" style="height:300px;"></div>
                    <div class="col-lg" id="chartsolar" style="height:300px;"></div>
                    <div class="col-lg" id="chartuv" style="height:300px;"></div>
                    <div class="col-lg" id="chartwd" style="height:300px;"></div>
                </div>
            </div>
        }
        @Html.Partial("_Stats", Model)

    </div>
</div>
<div class="row" style="text-align: center">
    <div class="col-lg">
        @cnt total records
    </div>
</div>

<script src="//www.amcharts.com/lib/4/core.js"></script>
<script src="//www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script type="text/javascript">
    var hrs = 2;
    var modeldata = @Html.Raw(JsonConvert.SerializeObject(graph2));
</script>
<script type="text/javascript" src="~/js/amcharts.js"></script>