@using Newtonsoft.Json
@using WURequest.Models
@model List<Observations>
@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> _appSettings
@{
    var cnt = Model.Select(x => true).Count();
    var latest = Model.LastOrDefault();
    // Sets nth record to use for plotting
    int nStep = 333;
    if (cnt < 51000)
    {
        nStep = nStep / 4;
    }
    var raing = Model.Where(obs => obs.RainRateCur > 0);
    var graphPoints = Model.Where((x, i) => i % nStep == 0);
    // var graph2 = graph
    //     .Select(c =>
    //     {
    //         c.WindSpeedCur *= 3.6;
    //         c.WindGust10 *= 3.6;
    //         c.WindAvgSpeedCur *= 3.6;
    //         return c;
    //     });
    var observations = graphPoints.ToList();
    var obj = observations.Where(x => true).Select(o =>
        new
        {
            ot = Convert.ToInt64((o.ObsTime - new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc)).TotalMilliseconds),
            to = Convert.ToDecimal(o.TempOutCur),
            // TempInCur = Convert.ToDecimal(o.TempInCur),
            dc = Convert.ToDecimal(o.DewCur),
            tmn = Convert.ToDecimal(o.Tmin),
            tmx = Convert.ToDecimal(o.Tmax),
            ho = Convert.ToInt32(o.HumOutCur),
            hi = Convert.ToInt32(o.HumInCur),
            p = Convert.ToDecimal(o.PressCur),
            ws = Convert.ToDecimal(o.WindSpeedCur * 3.6),
            was = Convert.ToDecimal(o.WindAvgSpeedCur * 3.6),
            wd = Convert.ToInt32(o.WindDirCur),
            // ReSharper disable once RedundantAnonymousTypePropertyName - used in amcharts graphs
            wdce = o.WindDirCurEng,
            wg = Convert.ToDecimal(o.WindGust10 * 3.6),
            wda = Convert.ToDecimal(o.WindDirAvg10),
            // ReSharper disable once RedundantAnonymousTypePropertyName - used in amcharts graphs
            wdae = o.WindDirAvg10Eng,
            rr = Convert.ToDecimal(o.RainRateCur),
            rd = Convert.ToDecimal(o.RainDay),
            sr = Convert.ToInt32(o.SolarRad),
            UV = Convert.ToInt32(o.UV)
        }).ToList();
    var rainobj = Model.Where(obs => obs.RainRateCur > 0).Select(o =>
        new
        {
            // ObsTime = Convert.ToInt64((o.ObsTime - new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc)).TotalMilliseconds),
            ot  = o.ObsTime,
            wda = Convert.ToDecimal(o.WindDirAvg10),
            // ReSharper disable once RedundantAnonymousTypePropertyName - used in amcharts graphs
            wdae = o.WindDirAvg10Eng,
            rr = Convert.ToDecimal(o.RainRateCur)
        }).ToList();
    var windobj = observations.Where(obs => obs.WindSpeedCur > 0).Select(o =>
        new
        {
            wd = Convert.ToDecimal(o.WindDirCur),
            // ReSharper disable once RedundantAnonymousTypePropertyName - used in amcharts graphs
            wdce = o.WindDirCurEng,
            wg = Convert.ToDecimal(o.WindGust10 * 3.6),
            was = Convert.ToDecimal(o.WindAvgSpeedCur * 3.6),
            ws = Convert.ToDecimal(o.WindSpeedCur * 3.6)
        }).ToList();

    // int nStepRain = 100;
    // var graphrain = Model.Where((x, i) => i % nStepRain == 0);
}
@section Scripts
{
    <script type="text/javascript">
                    var hrs = 3;
                    var pew = @nStep;
                    var objdata = @Html.Raw(JsonConvert.SerializeObject(obj));
                    var raining = @rainobj.Count >0;
                    if(raining){var raindata = @Html.Raw(JsonConvert.SerializeObject(rainobj));}
                    var winddata = @Html.Raw(JsonConvert.SerializeObject(windobj));
                </script>
}

@{
    var currentDateStr = ViewData["CurrentDate"]?.ToString() ?? DateTime.Now.ToString("yyyy-MM-dd");
    var currentDate = DateTime.Parse(currentDateStr);
    var isCurrentMonth = (DateTime.Now.Date - currentDate.Date).TotalDays < 30;
    
    // Calculate date range in local time to match displayed observations
    var firstObs = Model.FirstOrDefault();
    var lastObs = Model.LastOrDefault();
    DateTime monthStart = firstObs != null ? firstObs.ObsTime.ToLocalTime().Date : currentDate.AddMonths(-1);
    DateTime monthEnd = lastObs != null ? lastObs.ObsTime.ToLocalTime().Date : currentDate;
}

@if (latest != null)
{
    <h1>
        Monthly weather<br/>
        @_appSettings.Value.StationName
    </h1>
    <div class="columns has-text-light">
        <div class="column is-2">
            <button class="button is-info is-fullwidth" onclick="navigateToPreviousMonth()">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>Previous Month</span>
            </button>
        </div>
        <div class="column has-text-light" style="text-align: center">
            <strong>Month: @monthStart.ToString("dd MMM") - @monthEnd.ToString("dd MMM yyyy")</strong><br/>
            <small>Latest: @latest.ObsTime.ToLocalTime().ToString("dddd dd MMM yyyy HH:mm:ss zzz")</small>
        </div>
        <div class="column is-2">
            @if (!isCurrentMonth)
            {
                <button class="button is-info is-fullwidth" onclick="navigateToNextMonth()">
                    <span>Next Month</span>
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </button>
            }
        </div>
    </div>
    <script>
        var currentDate = new Date('@(ViewData["CurrentDate"]?.ToString() ?? DateTime.Now.ToString("yyyy-MM-dd"))');
        
        function navigateToPreviousMonth() {
            var previousMonth = new Date(currentDate);
            previousMonth.setMonth(previousMonth.getMonth() - 1);
            var dateStr = previousMonth.toISOString().split('T')[0];
            window.location = '/month/' + dateStr;
        }
        
        function navigateToNextMonth() {
            var nextMonth = new Date(currentDate);
            nextMonth.setMonth(nextMonth.getMonth() + 1);
            var dateStr = nextMonth.toISOString().split('T')[0];
            window.location = '/month/' + dateStr;
        }
    </script>

    <div class="columns is-12-mobile">
        @await Html.PartialAsync("_CurrentConditions", Model)
        @if (cnt > 0)
        {
            <div class="column is-8" id="middle">
                @await Html.PartialAsync("_TopBar", Model)


                <div class="column is-12" id="chartemp" style="height:300px;"></div>

                <div class="column is-12" id="chartminmax" style="height:300px;"></div>
                <div class="column is-12" id="charthum" style="height:300px;"></div>
                <div class="column is-12" id="chartpressure" style="height:300px;"></div>
                <div class="column is-12" id="chartwind" style="height:300px;"></div>
                <div class="column is-12" id="chartrain" style="height:300px;"></div>
                <div class="column is-12" id="chartsolar" style="height:300px;"></div>
                <div class="column is-12" id="chartuv" style="height:300px;"></div>
                <div class="column is-12" id="chartwd" style="height:300px;"></div>

            </div>
        }

        @await Html.PartialAsync("_Stats", Model)

    </div>

    <div class="row" style="text-align: center">
        <div class="col-lg">
            @cnt total records
        </div>
    </div>
}
else
{
    @await Html.PartialAsync("_error")
}