@using Newtonsoft.Json
@using WURequest.Models
@model List<List<RainObs>>

@{
    var cnt = 0;
    string chartname = "chart";
    /*
     * https://stackoverflow.com/questions/249760/how-can-i-convert-a-unix-timestamp-to-datetime-and-vice-versa
     * 5th answer
    */
    var rainobj = new List<Object>();

    DateTime UnixTimestampToDateTime(double unixTime)
    {
        DateTime unixStart = new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc);
        long unixTimeStampInTicks = (long) (unixTime * TimeSpan.TicksPerMillisecond);
        return new DateTime(unixStart.Ticks + unixTimeStampInTicks, System.DateTimeKind.Utc);
    }
}

@section Scripts
{
    <script type="text/javascript">
                var raindata = @Html.Raw(JsonConvert.SerializeObject(rainobj));
    </script>
    <script type="text/javascript" src="~/js/raincharts.min.js"></script>
}

<div class="containerx col-lg-12 col-md-12 col-sm-12 ">
    <div class="row">
        <div class="col-lg-12">
            @if (Model.Any())
            {
                @foreach (var day in Model)
                {
                    chartname = chartname + cnt;
                    var hit = new
                    {
                        ObsTime = UnixTimestampToDateTime(day.First().ObsTime).ToString("yyyy-MM-dd"),
                        RainRateCur = day.Select(r => r.RainRateCur).Max(),
                        WindDirAvg10 = Convert.ToInt32(day.Select(r => r.WindDirAvg10).Average())
                    };

                    rainobj.Add(hit);
@*                 <div class="card border-secondary col-lg-2 col-sm-12"> *@
@*                     <div class="card-header " style="text-align: center"> *@
@*                         <strong>Rain Summary @UnixTimestampToDateTime(day.First().ObsTime).ToString("yyyy-MM-dd")</strong> *@
@*                     </div> *@
@*                     <ul class="list-group list-group-flush"> *@
@*                         <li class="list-group-item">Rainrate<span style="float:right;">@day.Select(r => r.RainRateCur).Max() mm/h from the @day.Select(r => r.WindDirAvg10).Average().ToString("#")째</span></li> *@
@* *@
@*                     </ul> *@


                    @* <ul class="list-group list-group-flush"> *@
                    @*     <div class="card-header " style="text-align: center"> *@
                    @*         <strong>Rain Rose</strong> *@
                    @*     </div> *@
                    @*     <ul class="list-group list-group-flush" id="@chartname" style="height: 500px;"> *@
                    @*     </ul> *@
                    @*     <script type="text/javascript"> *@
                    @*     var i = @cnt; *@
                    @*     console.log(i); *@
                    @*     am4core.ready(function() { *@
                    @*         // am4core.useTheme(am4themes_animated); *@
                    @*         am4core.options.minPolylineStep = 5; *@
                    @*         am4core.options.queue = true; *@
                    @*         am4core.useTheme(am4themes_dark); *@
                    @*         // We set our data to the model with reduced data points *@
                    @*         var chart = []; *@
                    @*         var rainrose = []; *@
                    @*         var xAxisRR = []; *@
                    @*         var yAxisRR = []; *@
                    @*         var rainRate = []; *@
                    @*         var circleBulletRR = []; *@
                    @*         chart[i] = "@chartname"; *@
                    @*         console.log("chart id : " + chart[i]); *@
                    @*         rainrose[i] = am4core.create(chart[i], am4charts.RadarChart); *@
                    @*         // var categoryAxis = windrose.xAxes.push(new am4charts.CategoryAxis()); *@
                    @*         // categoryAxis.dataFields.category = "WindDirCurEng"; *@
                    @*         /* Create axes */ *@
                    @*         xAxisRR[i] = rainrose[i].xAxes.push(new am4charts.ValueAxis()); *@
                    @*         xAxisRR[i].renderer.maxLabelPosition = 0.99; *@
                    @*         xAxisRR[i].min = 0; *@
                    @*         xAxisRR[i].max = 360; *@
                    @*         xAxisRR[i].renderer.minGridDistance = 40; *@
                    @*         xAxisRR[i].strictMinMax = true; *@
                    @*         xAxisRR[i].dateFormatter = new am4core.DateFormatter(); *@
                    @*         xAxisRR[i].dateFormatter.dateFormat = "HH:mm"; *@
                    @*         // var categoryAxisWR = windrose.xAxes.push(new am4charts.DateAxis()); *@
                    @*         // categoryAxisWR.tooltipDateFormat = "HH:mm"; *@
                    @*         // xAxis.numberFormatter.numberFormat = "#.0째|0째"; *@
                    @*      *@
                    @*      *@
                    @*         yAxisRR[i] = rainrose[i].yAxes.push(new am4charts.ValueAxis()); *@
                    @*         yAxisRR[i].renderer.labels.disabled = true; *@
                    @*         // yAxis.renderer.labels.template.verticalCenter = "bottom"; *@
                    @*         // yAxis.renderer.labels.template.horizontalCenter = "right"; *@
                    @*         // yAxis.renderer.maxLabelPosition = 01; *@
                    @*         // yAxis.renderer.labels.template.paddingBottom = 1; *@
                    @*         // yAxis.renderer.labels.template.paddingRight = 3; *@
                    @*         // yAxis.renderer.minGridDistance = 20; *@
                    @*      *@
                    @*      *@
                    @*         /* Create and configure series */ *@
                    @*         rainRate[i] = rainrose[i].series.push(new am4charts.RadarSeries()); *@
                    @*         circleBulletRR[i] = rainRate[i].bullets.push(new am4core.Circle()); *@
                    @*         circleBulletRR[i].tooltipText = "{RainRateCur} mm/h from {WindDirAvg10}째 {WindDirAvg10Eng}"; *@
                    @*         circleBulletRR[i].radius = 3; *@
                    @*         circleBulletRR[i].strokeWidth = 1; *@
                    @*         // rainRate.minBulletDistance = 1.5; *@
                    @*         rainRate[i].strokeOpacity = 0; *@
                    @*         rainRate[i].dataFields.valueX = "WindDirAvg10"; *@
                    @*         rainRate[i].dataFields.valueY = "RainRateCur"; *@
                    @*         rainRate[i].name = "Rain Rate"; *@
                    @*         rainRate.sequencedInterpolation = true; *@
                    @*         rainRate.sequencedInterpolationDelay = 10; *@
                    @*         rainRate[i].data = @Html.Raw(JsonConvert.SerializeObject(day)); *@
                    @*         rainRate[i].fill = am4core.color("#43fff9"); *@
                    @*         /* Add legend */ *@
                    @*         rainrose[i].legend = new am4charts.Legend(); *@
                    @*     }); *@
                    @* </script> *@
                    @* *@
                    @* </ul> *@
                    // </div>

                    cnt += 1;
                }
            }


            <div class="card border-secondary col-lg-2 col-sm-12  mx-auto">
                <div class="card-header " style="text-align: center">
                    <strong>Rainy days</strong>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span style="float:right;">@cnt</span>
                    </li>

                </ul>
                <div class="card-header " style="text-align: center">
                    <strong>Rain direction for timespan</strong>
                </div>
                <ul class="list-group list-group-flush" id="rainrose">
                </ul>
            </div>
        </div>
    </div>
</div>