@using Newtonsoft.Json
@model List<Observations>
@using Microsoft.Extensions.Options
@using WURequest.Models
@inject IOptions<AppSettings> _appSettings
@{
    var cnt = Model.Select(x => true).Count();
    var latest = Model.LastOrDefault();
    // Sets nth record to use for plotting
    int nStep = 100;
    var raing = Model.Where(obs => obs.RainRateCur > 0);
    var graphPoints = Model.Where((x, i) => i % nStep == 0);
    // var graph2 = graph
    //     .Select(c =>
    //     {
    //         c.WindSpeedCur *= 3.6;
    //         c.WindGust10 *= 3.6;
    //         c.WindAvgSpeedCur *= 3.6;
    //         return c;
    //     });
    var observations = graphPoints.ToList();
    var obj = observations.Where(x => true).Select(o =>
        new
        {
            ot = Convert.ToInt64((o.ObsTime - new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc)).TotalMilliseconds),
            to = Convert.ToDecimal(o.TempOutCur),
            // TempInCur = Convert.ToDecimal(o.TempInCur),
            dc = Convert.ToDecimal(o.DewCur),
            tmn = Convert.ToDecimal(o.Tmin),
            tmx = Convert.ToDecimal(o.Tmax),
            ho = Convert.ToInt32(o.HumOutCur),
            hi = Convert.ToInt32(o.HumInCur),
            p = Convert.ToDecimal(o.PressCur),
            ws = Convert.ToDecimal(o.WindSpeedCur * 3.6),
            was = Convert.ToDecimal(o.WindAvgSpeedCur * 3.6),
            wd = Convert.ToInt32(o.WindDirCur),
            // ReSharper disable once RedundantAnonymousTypePropertyName - used in amcharts graphs
            wdce = o.WindDirCurEng,
            wg = Convert.ToDecimal(o.WindGust10 * 3.6),
            wda = Convert.ToDecimal(o.WindDirAvg10),
            // ReSharper disable once RedundantAnonymousTypePropertyName - used in amcharts graphs
            wdae = o.WindDirAvg10Eng,
            rr = Convert.ToDecimal(o.RainRateCur),
            rd = Convert.ToDecimal(o.RainDay),
            sr = Convert.ToInt32(o.SolarRad),
            UV = Convert.ToInt32(o.UV)
        }).ToList();
    var rainobj = Model.Where(obs => obs.RainRateCur > 0).Select(o =>
        new
        {
            // ObsTime = Convert.ToInt64((o.ObsTime - new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc)).TotalMilliseconds),
            ot  = o.ObsTime,
            wda = Convert.ToDecimal(o.WindDirAvg10),
            // ReSharper disable once RedundantAnonymousTypePropertyName - used in amcharts graphs
            wdae = o.WindDirAvg10Eng,
            rr = Convert.ToDecimal(o.RainRateCur)
        }).ToList();
    var windobj = observations.Where(obs => obs.WindSpeedCur > 0).Select(o =>
        new
        {
            wd = Convert.ToDecimal(o.WindDirCur),
            // ReSharper disable once RedundantAnonymousTypePropertyName - used in amcharts graphs
            wdce = o.WindDirCurEng,
            wg = Convert.ToDecimal(o.WindGust10 * 3.6),
            was = Convert.ToDecimal(o.WindAvgSpeedCur * 3.6),
            ws = Convert.ToDecimal(o.WindSpeedCur * 3.6)
        }).ToList();
    // int nStepRain = 100;
    // var graphrain = Model.Where((x, i) => i % nStepRain == 0);
}
<style>
    #roses{
    display: none;
    }
</style>
@section Scripts
{
    <script type="text/javascript">
                    var hrs = 2;
                    var objdata = @Html.Raw(JsonConvert.SerializeObject(obj));
                    var raining = @rainobj.Count >0;
                    if(raining){var raindata = @Html.Raw(JsonConvert.SerializeObject(rainobj));}
                    var winddata = @Html.Raw(JsonConvert.SerializeObject(windobj));
         </script>
}
@{
    var currentDateStr = ViewData["CurrentDate"]?.ToString() ?? DateTime.Now.ToString("yyyy-MM-dd");
    var currentDate = DateTime.Parse(currentDateStr);
    var isCurrentWeek = (DateTime.Now.Date - currentDate.Date).TotalDays < 7;
    
    // Calculate date range in local time to match displayed observations
    var firstObs = Model.FirstOrDefault();
    var lastObs = Model.LastOrDefault();
    DateTime weekStart = firstObs != null ? firstObs.ObsTime.ToLocalTime().Date : currentDate.AddDays(-6);
    DateTime weekEnd = lastObs != null ? lastObs.ObsTime.ToLocalTime().Date : currentDate;
}

@if (latest != null)
{
    <h1>
        Weekly weather<br/>
        @_appSettings.Value.StationName
    </h1>
    <div class="columns has-text-light">
        <div class="column is-2">
            <button class="button is-info is-fullwidth" onclick="navigateToPreviousWeek()">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>Previous Week</span>
            </button>
        </div>
        <div class="column has-text-light" style="text-align: center">
            <strong>Week: @weekStart.ToString("dd MMM") - @weekEnd.ToString("dd MMM yyyy")</strong><br/>
            <small>Latest: @latest.ObsTime.ToLocalTime().ToString("dddd dd MMM yyyy HH:mm:ss zzz")</small>
        </div>
        <div class="column is-2">
            @if (!isCurrentWeek)
            {
                <button class="button is-info is-fullwidth" onclick="navigateToNextWeek()">
                    <span>Next Week</span>
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </button>
            }
        </div>
    </div>
    <script>
        var currentDate = new Date('@(ViewData["CurrentDate"]?.ToString() ?? DateTime.Now.ToString("yyyy-MM-dd"))');
        
        function navigateToPreviousWeek() {
            var previousWeek = new Date(currentDate);
            previousWeek.setDate(previousWeek.getDate() - 7);
            var dateStr = previousWeek.toISOString().split('T')[0];
            window.location = '/week/' + dateStr;
        }
        
        function navigateToNextWeek() {
            var nextWeek = new Date(currentDate);
            nextWeek.setDate(nextWeek.getDate() + 7);
            var dateStr = nextWeek.toISOString().split('T')[0];
            window.location = '/week/' + dateStr;
        }
    </script>
    @await Html.PartialAsync("_DoubleGraph", Model)
}
else
{
    @await Html.PartialAsync("_error")
}